/* Con el . nos referimos al atributo class de la etiqueta de HTML */
div.serie-container {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  width: 250px;
}

img {
  width: 100%;
}

div.serie-body {
  margin: 0 15px 0 15px;
/*
  margin-top: 0;
  margin-right: 15px;
  margin-bottom: 0;
  margin-left: 15px; */
}